<!-- Footer Start -->
<footer class="footer bg-[#192132] relative text-gray-200 dark:text-gray-200   ">
    <div class="w-full mx-auto px-3 sm:px-4 md:px-4 lg:px-[45px] xl:px-[45px] lg:max-w-[1024px] md:max-w-[768px] sm:max-w-[640px] xl:max-w-[1250px] relative text-center">
        <div class="grid grid-cols-1">
            <div class="py-[30px] px-0">
                <div class="grid md:!grid-cols-2 items-center">
                    <div class="md:!text-start text-center">
                        <a href="#" class="text-[22px] focus:outline-none">
                            <img src="https://fundu-space-sfo3-dev.sfo3.digitaloceanspaces.com/localhost/appmint/appmint-icon.png?AWSAccessKeyId=Y2F2FXM2ULLLG6K362KF&Expires=2040386406&Signature=ZfGD2%2BCwdRgGlTMYpIpmn%2Bagxyg%3D" class="mx-auto md:me-auto md:ms-0" alt="">
                        </a>
                    </div>
    
                    <ul class="list-none footer-list md:!text-end text-center mt-6 md:mt-0">
                        <li class="inline"><a href="page-job-grid.html" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out">Jobs</a></li>
                        <li class="inline mt-[10px]"><a href="page-job-companies.html" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out ms-2">Companies</a></li>
                        <li class="inline mt-[10px]"><a href="helpcenter-faqs.html" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out ms-2">FAQs</a></li>
                        <li class="inline mt-[10px]"><a href="contact-one.html" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out ms-2">Contact</a></li>
                    </ul><!--end icon-->
                </div><!--end grid-->
            </div>
        </div>
    </div><!--end container-->

    <div class="py-[30px] px-0 border-t border-slate-800">
        <div class="w-full mx-auto px-3 sm:px-4 md:px-4 lg:px-[45px] xl:px-[45px] lg:max-w-[1024px] md:max-w-[768px] sm:max-w-[640px] xl:max-w-[1250px] relative text-center">
            <div class="grid grid-cols-1">
                <div class="text-center">
                    <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Techwind. Design with <svg width="1em" height="1em" class="text-red-600 inline-block" viewBox="0 0 24 24"  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/">
 <g transform="translate(0 -1028.4)">
  <path d="m7 1031.4c-1.5355 0-3.0784 0.5-4.25 1.7-2.3431 2.4-2.2788 6.1 0 8.5l9.25 9.8 9.25-9.8c2.279-2.4 2.343-6.1 0-8.5-2.343-2.3-6.157-2.3-8.5 0l-0.75 0.8-0.75-0.8c-1.172-1.2-2.7145-1.7-4.25-1.7z" fill="#e74c3c"/>
 </g>
</svg> by <a href="https://appmint.in/" target="_blank" class="text-reset">appmint</a>.</p>
                </div>
            </div><!--end grid-->
        </div><!--end container-->
    </div>
</footer><!--end footer-->
<!-- Footer End -->